body{
    margin: 0% .5%;
    font-family: "FuturaLTPro-Book",Sans-Serif!important;
    color: grey;
}
.rshoppingbag{
    font-size: 30px;
}
#rcartstatic{
    width: 98%;
    margin: auto;
    border-bottom: 1px solid lightgray;
    display: flex;
}
.rproducts{
    flex: 3;
    /* border: 1px solid teal; */
}
.rproducts p{
    margin-left: 2%;
}
.rtotal,.rprice,.rquantity{
    text-align: center;
    flex: 1;
}
/* INPUT PART */
#rcartdyanamic{
    width: 98%;
    margin: auto;
    border-bottom: 1px solid lightgray;
}
#divfinal{
    display: flex;
}
.rimgname{
    display: flex;
}
.rimgname img{
    width: 20%;
    margin-right: 3%;
    margin-bottom: 2%;
    cursor: pointer;
}
.rdisplay{
    display: flex;
    line-height: 0px;
    margin-top: -1%;
    font-size: 12px;
}
#rproducts{
    flex: 3;
}
#rprice,#rquantity,#rtotal{
    flex: 1;
    text-align: center;
}
#rprice p,#rtotal p{
    margin-top: 20%;
}
#rquantity{
    display: flex;
    justify-content: space-evenly;
}
#rquantity button{
    margin-top: 20%;
    height: 20%;
    width: 15%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#rquantity button:hover{
    background-color: grey;
    transition: .8s;
}
#rquantity p{
    margin-top: 22%;
}

.rbigline{
    background-color: rgba(184, 176, 176, 0.226);
    width: 98%;
    margin: auto;
    height: 60px;
    border-radius: 5px;
    margin-top: 1%;
}
.rinsidebigline{
    /* border: 1px solid red; */
    width: 33%;
    display: flex;
    justify-content: space-between;
    margin-left: 65%;
    height: 100%;
}
.rinsidebigline p{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.rcartbutton{
    width: 98%;
    margin-top: 2%;
    /* border: 1px solid red; */
    text-align: right;
}
.rcartbutton a{
    
    color: black;
    font-size: 14px;
    margin-right: 3%;
}
.rcartbutton button{
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 20px 70px;
    background-color: black;
    border: none;
}
.rcartbutton button:hover{
    background-color: grey;
    transition: 1s;
}
/* .rcartpayoption{
    border: 1px solid red;
    height: 50px;
}
.rcartpayoption img{
    margin-right: 2%;
    width: 5%;
    height: 100%;
} */